apiVersion: v1
kind: Service
metadata:
  name: springboot-service
spec:
  type: NodePort
  selector:
    app: springboot 
  ports:
    - port: 8081      
      targetPort: 8084 
      nodePort: 30007 